<div id="modalOpzioni" class="modal fade" ng-controller="GGVApp-OpzioniModalController">
         <div class="modal-dialog">
          <div class="modal-content">
           <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Titolo</h4>
           </div>
           <div class="modal-body">
            <ul>
                <li ng-repeat="opzione in opzioni_elenco | filter:{inMenu:true}">
                    {{opzione.nome}}
                    <input type="{{opzione.type}}" ng-model="opzione.valore" />
                </li>
            </ul>
           </div>
           <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
            <button type="button" class="btn btn-primary">Invia</button>
           </div>
          </div>
         </div>
        </div>