
<div>
  
    <button style="height: 100px; width: 200px; background: #13de43; border-radius: 15px;" 
            ng-click="stampa_archivia()">
        Stampa
    </button>
     
    <button style="height: 100px; width: 200px; background: red; margin-right: 100px; border-radius: 15px;" 
            ng-click="cancella()">
        Cancella
    </button>
    
    <button style="height: 100px; width: 200px; border-radius: 15px;" 
            ng-click="stampa()">
        Stampa (senza archiviare)
    </button>
    
    <button style="height: 100px; width: 200px; border-radius: 15px;"
            ng-click="archivia()">
        Archivia (senza stampare)
    </button>
    
    

</div>