<script src="lib/holder.js"></script>

<script>
    /* TODO eliminare se funziona senza 
$('#selezioneGruppi a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
*/
</script>
<div ng-controller="GGVApp-gestioneOrdineCorrenteController">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="selezioneGruppi">
            <li role="presentation" class="active">
                <a href="#tuttiGruppi" aria-controls="home" role="tab" data-toggle="tab">Tutti</a>
            </li>
            <li ng-repeat="(gruppo,elenco) in menu" role="presentation">
                <a aria-controls="{{gruppo}}" role="tab" data-toggle="tab"
                   href="#{{gruppo}}" style="text-transform: capitalize">
                    {{gruppo}}
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- tuttiGruppi -->
            <div role="tabpanel" class="tab-pane active" id="tuttiGruppi">
                <div ng-repeat="(gruppo, elencoProdotti) in menu">
                    <button ng-repeat='prodotto in elencoProdotti' class="btn btn-lg btn-default" 
                            ng-click="ordine.voci[prodotto.nome].inc();" >
                        {{prodotto.nome}}<br />{{prodotto.prezzo | currency}}
                    </button>
                </div>
            </div>          

            <!-- ripetizione gruppi -->
            <div role="tabpanel" class="tab-pane"
                 ng-repeat="(gruppo, elencoProdotti) in menu" id="{{gruppo}}">
                    <button ng-repeat='prodotto in elencoProdotti' class="btn btn-lg btn-default" 
                            ng-click="ordine.voci[prodotto.nome].inc();" >
                        {{prodotto.nome}}
                    </button>
            </div>
        </div>
    </div>

    
    <div style="float:right"> <!-- TODO torgliere float -->
        <div style="min-width:200px; margin-right:30px;"
             ng-repeat="(gruppo, elencoProdotti) in ordineFiltrato" >
            <h3>{{gruppo}}</h3>
            <table style="" class="table table-striped">
                <tbody>
                    <tr ng-repeat="prodotto in elencoProdotti">
                        <td style="width:100px">{{prodotto.nome}}</td>
                        <td style="width:140px">
                            <button ng-click='ordine.voci[prodotto.nome].inc();'> +  </button>
                            <input type="number" style="width:50px;" ng-model="ordine.voci[prodotto.nome].qta" />
                            <button ng-click='ordine.voci[prodotto.nome].dec();'> -  </button>
                        </td>
                        <td><input type="checkbox" ng-model='ordine.voci[prodotto.nome].dividiStampa' /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--
        <div ng-repeat="(gruppo, elencoProdotti) in ordineFiltrato" class="table-responsive">
            <h3>{{gruppo}}</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Qta</th>
                        <th>Nome</th>
                        <th>Prezzo unitario</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="prodotto in elencoProdotti">
                        <td>{{ordine.voci[prodotto.nome].qta}}</td>
                        <td>{{prodotto.nome}}</td>
                        <td>{{prodotto.prezzo|currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>    
        <h1 ng-if="ordineFiltratoNonVuoto">Totale: {{totale_ordine|currency}}</h1>
        -->
        
    </div>

</div>
<!-- PALLA -->
<!--
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <img data-src="holder.js/50x50/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail"
                                 ng-click='ordine.voci[prodotto.nome].inc();'>
                            <h4>{{prodotto.nome}}</h4>
                            <button ng-click='ordine.voci[prodotto.nome].inc();'> +  </button>
                            <button ng-click='ordine.voci[prodotto.nome].dec();'> -  </button>
                            <input type='number' ng-model='ordine.voci[prodotto.nome].qta' />
                        </div>
-->